.app{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

}
.title{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.rowbox{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    padding: 50px;
    width: 900px;
    height: 1200px;
    background-color: rgba(255, 255, 0, 0.603);

}
.buttonBox{
    position:absolute;
    left: 450px;
    top: 110px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;

}

table{
        border-collapse: collapse;
        position: absolute;
        left: 700px;
        top: 110px;

}
th{
    border: 1px solid black;
    padding: 6px;

}
tbody{
    border: 1px solid black;
    padding: 3px;
    margin: 0px;

}
tr{
    border: 1px solid black;
}
td{

    border: 1px solid black;
    padding: 3px;
}